<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Student Id</th>
      <th scope="col">Maths</th>
      <th scope="col">Science</th>
      <th scope="col">Social</th>
      <th scope="col">FirstLanguage</th>
      <th scope="col">SecondLanguage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{studentGrp.id}}</th>
      <td>{{studentGrp.maths}}</td>
      <td>{{studentGrp.science}}</td>
      <td>{{studentGrp.social}}</td>
      <td>{{studentGrp.firstLanguage}}</td>
      <td>{{studentGrp.secondLanguage}}</td>
    </tr>
  </tbody>
</table>